<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="AngularClima.js"></script>
    <link rel="stylesheet" type="text/css" href="climaCSS.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="actividadController">
    <form ng-submit="mostrar()">
        <label>Seleccionar actividad:</label>
        <select ng-model="actividadSeleccionada" required>
            <option ng-repeat="actividad in actividades" value="{{actividad}}">
                {{ actividad.Nombre }}
            </option>
        </select>
        <br />
        <label>Seleccionar cantidad de dias:</label>
        <select ng-model="diaSeleccionado" required>
            <option ng-repeat="dia in cantidades" value="{{ dia }}">
                {{ dia }}
            </option>
        </select>
        <br />
        <button type="submit">Aceptar</button>
    </form>
    <br />
    <div style="float:left">
        <div class="container" ng-repeat="clima in prueba" ng-model="climaModel">
            <span ng-if="clima.sePuede" class="label label-success">{{clima.fecha | date: 'EEEE'}}</span>
            <span ng-if="!clima.sePuede" class="label label-danger">
                {{clima.fecha | date: 'EEEE'}}
            </span>
            <span ng-if="!clima.sePuede" class="label label-default">
                {{clima.explicacion}}
            </span>
        </div>
    </div>
</body>
</html>
